.rating-section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.invisible{
    display: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    font-family: 'Overpass', sans-serif;
}

/* main{
    color: white;
    width: 20%;
    height: 40%;
    border-radius: 25px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(hsl(219, 24%, 11%) 60%, hsl(219, 20%, 26%));
    padding-right: 30px;
} */

main {
    color: white;
    width: 20%;
    padding: 1em;
    border-radius: 25px;
    background: linear-gradient(hsl(219, 24%, 11%) 60%, hsl(219, 20%, 26%));
    padding-right: 50px;
  }

p{
    color: hsl(217, 12%, 63%);
    margin-left: 10%;
    font-size: 15px;
    width: 90%;
}

.star{
    background-color: hsl(213, 19%, 18%);
    padding: 0.8em;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 35px;
    

}
h1{
    font-weight: 600;
    margin-left: 35px;
}
button{
    display: block;
    border-style: none;
    margin: 20px auto;
    margin-left: 35px;
    padding: 16px 9em;
    text-align: center;
    border-radius: 27px;
    background-color: hsl(25, 97%, 53%);
    color: whitesmoke;
    font-size: 15px;
    font-weight: 550;
    letter-spacing: 2px;
    transition: all 0.15s;
}

button:hover{
    background-color: rgb(208, 83, 0);
}

.btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
article{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.rate-btn{
    padding: 1.3em;
    /* padding-bottom: 1.2em; */
    background-color: hsl(213, 19%, 18%);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 7px;
    display: flex;
    flex-direction: row;
    text-align: center;
    color: hsl(217, 12%, 63%);
    transition: all 0.1s;
    font-family: inherit;
}
.rate-btn:nth-of-type(1){
    margin-left: 35px;
}
.rate-btn:hover{
    background-color: hsl(213, 19%, 36%);
}
.rate-btn:focus{
    /* background-color: hsl(213, 19%, 36%); */
    background: hsl(213, 19%, 36%);
}
.rate-number{
    background-color: hsl(213, 19%, 36%);
}

.thanks-icon{
    padding-top: 4em;
    padding-bottom: 2em;
}

.selected{
    background-color: hsl(213, 19%, 18%);
    padding: 9px 10px;
    color: hsl(25, 97%, 53%);
    width: auto;
    border-radius: 50px;
    margin: 0;
}

.thanks{
    font-size: x-large;
    color: whitesmoke;
}

.foot{
    margin-top: 0;
    color: hsl(217, 24%, 76%);
}
.thanks-section{
    display: none;
    justify-content: center;
    align-items: center;
    height: 50vh;
    flex-direction: column;
    text-align: center;
}

@media(max-width: 1800px){
    main{
        width: 352px;
    }
}